/*soft reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: franklin-gothic-demi;
  src: local("Franklin Gothic Demi Cond"), url(/fonts/franklin-gothic-demi-cond.ttf);
}

body {
  
  font-family: franklin-gothic-demi;
  font-size: 12px;
  height: 100vh;
}

/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/*breakpoint*/
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/*breakpoint*/
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  background-image: url('../img/refinery.jpg');
  background-size: cover;
  background-position: bottom center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.menu{
  background: linear-gradient(90deg,skyblue,steelblue);
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 3em;
}

.site-subtitle {
  font-style: italic;
}

section {
  justify-content: center;
}

.img-portfolio {
  height: auto;
  width: 400px;
}

section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}